@import "libs/styles/primary.scss";

.portfolio__section{
    width: 80%;
    margin: auto;
    .portfolio__container{
        width: 80%;
        margin: auto;
        // display: flex;
        // gap: 1rem;
        .project__details{
            display: flex;
            gap: 1rem;
        }
        .project__image{
            width: 150px;
            height: 100px;
            img{
                width: 100%;
                height: 100%;
            }
        }
        .project__title{
            color: $color-title;
            font-size: $normal-font-size;
            font-weight: $semi-bold-font;
        }
        .project__description{
            font-size: $small-font-size;
        }
        .demo__btn{
            font-size: $smaller-font-size;
        }
    }
}