<section class="section" id="portfolio">
    <div class="portfolio__section">
        <div class="section__title">Portfolio</div>
        <div class="section__subtitle">Most Recent Work</div>
        
        <div class="portfolio__container">
            <div class="project__details">
                <div class="project__image">
                    <img src="assets/images/partrunner.png" alt="partrunner">
                </div>
                <div>
                    <div class="project__title">Partrunner</div>
                    <div class="project__description">abcd</div>
                    <button class="btn btn__primary demo__btn">
                        Demo
                        <i class="uil uil-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="project__details">
                <div class="project__image">
                    <img src="assets/images/partrunner.png" alt="partrunner">
                </div>
                <div>
                    <div class="project__title">Partrunner</div>
                    <div class="project__description">abcd</div>
                    <button class="btn btn__primary demo__btn">
                        Demo
                        <i class="uil uil-arrow-right"></i>
                    </button>
                </div>
            </div>
            <div class="project__details">
                <div class="project__image">
                    <img src="assets/images/partrunner.png" alt="partrunner">
                </div>
                <div>
                    <div class="project__title">Partrunner</div>
                    <div class="project__description">abcd</div>
                    <button class="btn btn__primary demo__btn">
                        Demo
                        <i class="uil uil-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>