<section class="section about__section" id="about">
    <div class="about__me">
        <div class="section__title">About Me</div>
        <div class="section__subtitle">My Introduction</div>
        <div class="section__description">Innovative web developer having 1+ years of experience with a flair for creating elegant solutions in the least amount of time. Assembled and addressed technical and design requirements, integrating user-facing and front-end elements to maintain web presence effectiveness. Identified and resolved website performance flags to optimise speed.</div>   

        <div class="past__experience">
            <div class="item">
                <div class="experience__num">01+</div>
                <div class="experience__category">Years experience</div>
            </div>
            <div class="item">
                <div class="experience__num">02+</div>
                <div class="experience__category">Completed Projects</div>
            </div>
            <div class="item">
                <div class="experience__num">02+</div>
                <div class="experience__category">Companies worked</div>
            </div>
        </div>

        <div class="contact__btn__container">
            <button class="btn btn__primary contact__me__btn">
                Download CV
                <i class="uil uil-download-alt"></i>
            </button>
        </div>

    </div>
</section>