<footer>
    <div class="container">
        <div class="about">
            <div class="footer__title">Sai Kiran</div>
            <div class="footer__subtitle">Frontend developer</div>
        </div>
        <div class="page__link">
            <div>
                <!-- <a href="#skills">Skills</a> -->
                <a routerLink="skills">Skills</a>
            </div>
            <div>
                <!-- <a href="#experience" >Work experience</a> -->
                <a routerLink="work-experience">Work experience</a>
            </div>
            <!-- <div class="skill">
                <a href="#skills">Skills</a>
            </div> -->
        </div>
        <div class="social__links">
            <div class="linkedin icon pointer">
                <a href="https://www.linkedin.com/in/manchikantisaikiran/" target="_blank">
                    <i class="uil uil-linkedin"></i>
                    <!-- <i class="uil uil-linkedin-alt"></i> -->
                </a>
            </div>
            <div class="github icon pointer">
                <a href="https://github.com/manchikantisaikiran" target="_blank">
                    <i class="uil uil-github"></i>
                    <!-- <i class="uil uil-github-alt"></i> -->
                </a>
            </div>
            <div class="twitter icon pointer">
                <a href="https://twitter.com/Manchikantisai5" target="_blank">
                    <i class="uil uil-twitter"></i>
                    <!-- <i class="uil uil-twitter-alt"></i> -->
                </a>
            </div>
        </div>
    </div>
</footer>