<section class="section" id="experience">
    <div class="experience__section">
        <div class="section__title">Work Experience</div>
        <div class="section__subtitle">My Professional Journey</div>

        <div class="experience__container">
            <div class="experience" *ngFor="let details of experience">
                <div class="role">{{details.role}}</div>
                <div class="company__details">{{details.companyDetails}}</div>
                <div class="time__period">{{details.timePeriod}}</div>
            </div>
        </div>
    </div>
</section>