<nav>
    <div class="left">
        <div class="title item">
            Sai Kiran
        </div>
    </div>
    <div class="right">
        <div class="item">
            <a href="">Home</a>
        </div>
        <div class="item">
            <a href="">About</a>
        </div>
        <div class="item">
            <a href="">Skills</a>
        </div>
        <div class="item">
            <a href="">Services</a>
        </div>
        <div class="item">
            <a href="">Portfolio</a>
        </div>
        <div class="item">
            <a href="">Contact</a>
        </div>
        <div class="item">
            <img src="assets/icons/sun.svg" alt="Sun">
        </div>
    </div>

</nav>